name: integration test

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  test-on-linux:
    name: Py${{ matrix.python-version }} @ ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # note: always use the -latest OS variants b/c if conditions
        # match them as literals
        os: [ubuntu-latest]
        python-version: [3.8]

    steps:

    - name: Check out code
      uses: actions/checkout@v2

    - name: Verify curl with Kerberos
      run: |
        make verify-curl-with-kerberos

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build & start services
      run: |
        # only until a new upstream version with 3.8 support is released
        git clone -q --depth 1 https://github.com/kiwitcms/Kiwi
        make -C Kiwi/ docker-image

        make build-services
        make run-services

    - name: Install & configure Kerberos client
      if: matrix.os == 'ubuntu-latest'
      run: |
        KRB5_ADDR=`docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' krb5_kiwitcms_org`

        sudo apt-get -y install krb5-user
        sudo cp ./tests/krb5.conf /etc/
        sudo sed -i "s/localhost\./$KRB5_ADDR/" /etc/krb5.conf

        # this directory is missing and krb5.conf wants to include it
        sudo mkdir /etc/krb5.conf.d/

        WEB_ADDR=`docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' web_kiwitcms_org`
        sudo sh -c "echo '$WEB_ADDR    web.kiwitcms.org' >> /etc/hosts"

    - name: Obtain valid Kerberos ticket
      run: |
        echo changeme | kinit travis@KIWITCMS.ORG
        klist

    - name: Verify web login with Kerberos
      run: |
        make verify-web-login
        klist

    - name: Collect & report coverage
      run: |
        # stop triggers the atexit handler and saves coverage data
        docker-compose stop web_kiwitcms_org

        # combine & copy out the results
        docker-compose start web_kiwitcms_org
        docker exec -i web_kiwitcms_org /bin/bash -c "cd /coverage; coverage combine"
        docker cp web_kiwitcms_org:/coverage/.coverage .coverage.container

        # combining again will map to local sources paths
        pip install coveralls
        sed -i "s/data_file.*//" .coveragerc
        coverage combine

        COVERALLS_REPO_TOKEN=Oc0oWQC2KKHUbvZD6Ui7W2Ury7LsYu4ho coveralls
